.number{
    font-size: 300px;
    font-family: monospace;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.input{
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    opacity: 0;
}